<footer id="footer" class="clearfix">
  <div>
  テーマは <a href='https://github.com/stkevintan/hexo-theme-material-flow' class="codename">MaterialFlow</a> (by <a href="http://keyin.me/" target="_blank">Kevin Tan</a>) を使用しています。<br>
  &copy; 2019 Luck Network
  </div>
</footer>

